spring:
  application:
    name: api-gateway
server:
  port: 8765
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
zuul:
  routes:
    api-transferencia:
      path: /api-transferencia/**
      serviceId: api-transferencia
